extends baseEmail

block content
  p Dear #{fullName},
  p You have been added as a User to Stealth IMS. We're excited to have you on board!
  hr
  p Account Details:
  ul
    li Full Name: #{fullName}
    li Email: #{email}
    li Role: #{role}
    li Created At: #{updatedAt}
  hr
  p If you have any questions or need assistance, please don't hesitate to contact our support team.
  p We appreciate your patience and look forward to having you as a valued member of our platform!
  p Best Regards,
  p Stealth
